.App {
  width: 500px;
  height: 500px;
  background-color: rgb(157, 197, 180);
  border: solid 10px;
  border-color: rgb(110, 140, 128);
  
  
  text-align: center;
  justify-content: center;
}
.container{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
.Time {
   background-color: rgb(248, 247, 247);
  border: solid 10px;
  color: rgb(81, 105, 95);
  border-color: rgb(110, 140, 128);
  font-size: 100px;
}

.header {
  color: rgb(81, 105, 95);
}











